html
    min-height 100%

*
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
    -webkit-font-smoothing antialiased
    font-smoothing antialiased
    box-sizing border-box

body
    height 100%
    overflow-y auto
    overflow-x hidden
    margin 0
    padding-bottom 10vw
  
.hidden
	display none
	opacity 0
 
 
.logo
  width: 5rem
  height: 2.5rem
  background: url(_img/rest_logo_outline.svg) no-repeat
  //background-image: url("http://identity.iwantrest.com/Logos/REST_LogoSecondary-01.png")
  display: block
  background-size: 100%
  z-index: 9996
  transition: none
  float: left
  text-indent: -9999rem
  cursor pointer
  position: absolute;
  top: 11vw;
  left: 11vw;
  
.column {
  position: relative;
}

.FundADay_Intro .column {
  min-height: calc(60vh - 5.5vw);
  margin-top: 25vw;
}

.FundADay_FinancialCase {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url("https://iwantrest.com/_img/blog_donatebg_desktop.jpg")
}

.FundADay_FinancialCase .column {
  min-height: calc(100vh - 5.5vw);
}

.FundADay_Calendar {
  width: 100%; 
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.FundADay_CalendarScroll {
  width: 825vw; 
  margin: 7.5vw;
}

.FundADay_Calendar::-webkit-scrollbar, .FundADay_CalendarScroll::-webkit-scrollbar {
  display: none;
  height: 0px;
  width: 0px;
  opacity: 0;
}

@media laptop {
 .FundADay_CalendarScroll {
    width: 100%; 
  } 
}
@media laptop {
  .FundADay_Calendar {
    width: 100%;
  }
}

.FundADay_CalendarMonth {
  width: 60vw; 
  display: inline-block;
  margin: 3.5vw;
  font-family: CircularStdBook
}

@media laptop {
  .FundADay_CalendarMonth {
    width: 12%; 
    margin: 1.5vw;
  }
}

.FundADay_CalendarMonth img {
  width: 100%;
}

.CenterBlock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.NegativeBlock {
  color: white
}

.NegativeBlock h1, .NegativeBlock h2, .NegativeBlock h3, .NegativeBlock p, .NegativeBlock a {
  color: white;
  border-color: white
}

.FundADay_FormSubmit {
  width: 100%;
  background: #000;
  color: #fff;
  font-family: CircularStdBook, CircularStdBold, sans-serif;
  border: none;
  border-radius: 0px;
  padding: 1rem;
  text-align: center;
}

// .BigPhoto {
//   position: absolute;
//   top: 0px;
//   left: 50%; 
//   height: 100vh;
//   width: 50vw;
//   background-size: cover;
//   background-position: center center
// }

// .BigPhoto.Intro {
//   width: 30vw;
//   left: 70vw;
//   background-image: url("_img/introimg.jpg")
// }