html
  min-height 100%

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box

body
  height 100%
  overflow-y auto
  overflow-x hidden
  margin 0
  
.hidden
	display none
	opacity 0
 
 
.Logo {
  width: 5rem
  height: 2.5rem
  background: url("../_img/rest_logo_outline.svg") no-repeat
  display: block
  background-size: 100%
  z-index: 9996
  transition: none
  float: left
  text-indent: -9999rem
  cursor pointer
  position: absolute;
  top: unit4;
  left: unit4;
}
@media laptop {
  .Logo{
    position: absolute;
    top: calc(7vw + 32px);
    left: calc(57vw + 32px);
  }
}
.column {
  position: relative;
}

.FundADay_Intro {
  padding: 0 unit2;
}
  
@media laptop {
  .FundADay_Intro {
    min-height: 100vh;
    position: relative;
  }
}
// @media laptop {
//   .FundADay_Intro .row {
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%);
//   }
// }
.FundADay_Intro .column {
  margin-top: 25vw;
}
@media laptop {
  .FundADay_Intro .column {
    margin-top: 25vh;
  }
}
.FundADay_Intro h2 {
    padding: 20vh 0;
}  
// @media laptop {
//   .FundADay_Intro h2 {
//     padding: 0;
//   }
// }

.FundADay_BigPhoto {
  height: 80vh;
  width: 100vw;
  background-size: cover;
  background-position: 20% center;
  background-image: url("../_img/blog_donatebg_desktop.jpg");
  background-repeat: no-repeat;
}

@media laptop {
  .FundADay_BigPhoto {
    position: absolute;
    top: 0vw;
    left: -10vw;
    height: 60vw;
    width: 55vw;
    transform: rotate(9deg);
  }
}


.NegativeBlock, .NegativeBlock h1, .NegativeBlock h2, .NegativeBlock h3, .NegativeBlock p, .NegativeBlock a {
  color: color-white;
  border-color: color-white
}

.FundADay_WhatIsERC {
  padding: unit3 unit2 unit1 unit2 ;
}


@media laptop {
  .FundADay_WhatIsERC {
    padding: 7vw;
  }
}
.FundADay_FinancialCase {
  background-size: 600%;
  background-position: center center;
  // background-color: color-red;
  // background-image: url("https://iwantrest.com/_img/featphoto_home.jpg");
  padding: 0 unit2;
  margin-bottom: -1rem;
}
@media laptop {
  .FundADay_FinancialCase{
    padding: 7vw;
    min-height: 80vh;
    background-size: cover;
  }
}
@media laptop {
  .FundADay_FinancialCase .row {
    margin-top: 13vh;
  }
}
@media laptop {
  .FundADay_FinancialCase h2 {
    padding-bottom: 0px;
    margin-bottom: -.5em
  }
}
.FundADay_WillYouBe {
  background: color-black;
  padding: unit2 unit2;
  transition: height 200ms ease-out;
}
@media laptop {
  .FundADay_WillYouBe {
    padding: 7vw;
    min-height: 80vh;
  }
}
@media laptop {
  .FundADay_WillYouBe .DateDiv{
    margin-top: 5vh;
  }
}
@media laptop {
  .FundADay_WillYouBe .Question {
    margin-top: 15vh;
  }
}
.FundADay_BigForm {
  border-bottom: 1px solid hsla(0,0%,0%,.2);
  padding-bottom: unit2;
  padding: 0 unit2;
}
@media laptop {
  .FundADay_BigForm {
    padding: 7vw;
    border-bottom: none;
  }
}
.FundADay_Outro {
  padding: unit10 unit5;
  text-align: center;
}
// @media laptop {
//   .FundADay_Outro {
//     text-align: left;
//   }
// }

.FundADay_Outro hr {
  width: 50%;
  height: 0px;
  border: none;
  background: transparent;
  border-bottom: 1px solid hsla(0,0%,0%,.2);
  margin: unit5 auto;
}

.FundADay_Outro p {
  text-align: center;
  padding-top: unit6
}
// @media laptop {
//   .FundADay_Outro p {
//     text-align: left;
//   }
// }

.ERCGallerySmall {
  width: 100%;
  background: color-black;
  max-height: 90vw;
  overflow: hidden;
}
@media laptop {
  .ERCGallerySmall{
    display: none;
  }
}
.ERCGallerySmall button, .ERCGallerySmall ul {
  display: none !important;
}
.ERCGallerySmall img{
  max-height: 90vw;
}
.ERCGallerySmall img{
  max-width: 100%;
  filter: grayscale(100%);
}
// .ERCGallerySmall .slick-slide {
//   opacity: .4;
//   transition: opacity 200ms ease-out;
// }
.ERCGallerySmall .slick-current {
  opacity: 1
}

.ERCGalleryBig {
  display: none;
}
@media laptop {
  .ERCGalleryBig {
    display: block;
    width: 100%;
    height: 50vh;
    background: url("../_img/gallery.jpg") no-repeat;
    background-size: cover;
    position: relative;
    top: 20vh;
  }
}
@media laptop {
  section {
    padding: 7vw;
  }
}








