html
  min-height 100%

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box

body
  height 100%
  overflow-y auto
  overflow-x hidden
  margin 0
  
.hidden
	display none
	opacity 0
 
 
.logo
  width: 5rem
  height: 2.5rem
  background: url("../_img/rest_logo_outline.svg") no-repeat
  display: block
  background-size: 100%
  z-index: 9996
  transition: none
  float: left
  text-indent: -9999rem
  cursor pointer
  position: absolute;
  top: 11vw;
  left: 11vw;
  
.column {
  position: relative;
}

.FundADay_Intro .column {
  margin-top: 25vw;
}

.FundADay_Intro h2 {
  padding: unit11 0;
}

.FundADay_BigPhoto {
  height: 80vh;
  width: 100vw;
  background-size: cover;
  background-position: 20% center;
  background-image: url("../_img/blog_donatebg_desktop.jpg");
  background-repeat: no-repeat;
}

.NegativeBlock, .NegativeBlock h1, .NegativeBlock h2, .NegativeBlock h3, .NegativeBlock p, .NegativeBlock a {
  color: color-white;
  border-color: color-white
}

.FundADay_WhatIsERC {
  padding: unit3 0 unit1 0;
}

.FundADay_FinancialCase {
  background-size: cover;
  background-position: center center;
  background-color: color-red;
  background-image: url("https://iwantrest.com/_img/featphoto_home.jpg");
  padding: unit3 0 0 0;
  margin-bottom: -1rem;
}

.FundADay_WillYouBe {
  background: color-black;
  padding: unit3 0 unit1 0;
}

.FundADay_BigForm {
  border-bottom: 1px solid hsla(0,0%,0%,.2);
  padding-bottom: unit2
}

.FundADay_Outro {
  padding: unit10 unit5;
  text-align: center;
}

.FundADay_Outro hr {
  width: 50%;
  height: 0px;
  border: none;
  background: transparent;
  border-bottom: 1px solid hsla(0,0%,0%,.2);
  margin: unit5 auto;
}

.FundADay_Outro p {
  text-align: center;
  padding-top: unit6
}



