html
  font-size 15px
  font-family typeface-primary
  @media laptop
  	font-size 15px

body, p
	font-size 1rem

.unselectable
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

p
	line-height 180%
	margin -.5em 0 1.5em 0
	text-align left
	a
		border-bottom 1px solid black
		
.SansSerif
	font-family typeface-secondary
		
.col-md-4 p
	text-align left

a, a:visited
	text-decoration: none
	color color-black

ul
	list-style circle
ul, ol
  padding 0px
  margin 0 0 1rem 0
  li 
      margin -0.5rem 0 .5rem 3rem
      line-height 180%		
	
strong 
	font-weight normal

h1,h2,h3,h4,h5,h6
	margin 0 0
	padding: 0 0
	font-family: typeface-primary
	font-weight: normal
	line-height 130%
	position relative
	z-index 9999
	i
		font-style normal
		
h1.Serif,h2.Serif,h3.Serif,h4.Serif,h5.Serif,h6.Serif
	font-family: typeface-primary
	
h1.SansSerif,h2.SansSerif,h3.SansSerif,h4.SansSerif,h5.SansSerif,h6.SansSerif
	font-family: typeface-secondary

h1
	font-size 3rem
	margin-top: -.25em
	
h2
	font-size 2.2rem
	margin-top: -.25em
	
@media laptop {
	h2 {
		font-size: 50px;
		font-size: 3.5vw;
	}
}

h3
	font-size 2.2rem
	margin-top: -.25em
	
@media laptop {
	h3 {
		font-size: 2.75vw;
	}
}
	
span.Superscript {
  font-size: 0.5em;
  margin-top: -0.5em;
  position: relative;
  top: -.4em;
}


// BUTTONS

.underlined a
	padding-bottom 3px
	border-bottom #000 solid 1px
	color color-black
	font-family typeface-secondary
	font-size .9rem
	transition all 200ms ease-out
	&:hover
		border-color color-red
		color color-red
		
		
	
