// Styles

// Brand and style colors

light-text-color=          hsl(0, 0%, 80%)
brand-red-color= 		   #DC4405

color-black=		#000
color-white=		#fff
color-red=			#dc4405

typeface-primary= GaramondNo4TLig, serif
typeface-secondary= CircularStdBook, CircularStdBold, sans-serif

// Breakpoint (matches flexboxgrid)

phone =			"(min-width: 30em)"
tablet =		"(min-width: 48em)"
laptop =		"(min-width: 62em)"
desktop =		"(min-width: 75em)"
bigscreen =		"(min-width: 90em)"

// spacing units

unit0=		4px
unit1=		8px
unit2=		16px
unit3=		24px
unit4=		32px
unit5=		40px
unit6=		48px
unit7=		56px
unit8=		64px
unit9=		72px
unit10=		80px
unit11=		88px

